# Chezmoi External Tool Management
# This file manages external tools downloaded from git repositories or archives

[".fzf"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.git"
    refreshPeriod = "168h"  # Weekly updates

# z, fz, tmux-xpanes for bash users (zsh uses zplug)
{{- $shells := fromJson (includeTemplate "shell-detection.tmpl" .) }}
{{- if and $shells.uses_bash (ne .chezmoi.os "darwin") }}
[".local/share/z"]
    type = "git-repo"
    url = "https://github.com/rupa/z.git"
    refreshPeriod = "168h"

[".local/share/fz"]
    type = "git-repo"
    url = "https://github.com/changyuheng/fz.git"
    refreshPeriod = "168h"

[".local/share/tmux-xpanes"]
    type = "git-repo"
    url = "https://github.com/greymd/tmux-xpanes.git"
    refreshPeriod = "168h"
{{- end }}

{{- if and $shells.uses_zsh (ne .chezmoi.os "darwin") }}
# zplug (zsh plugin manager) - Linux/Android only (macOS uses Homebrew)
[".zplug"]
    type = "git-repo"
    url = "https://github.com/zplug/zplug.git"
    refreshPeriod = "168h"

# tmux plugin manager
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"
{{- end }}

{{- if and (ne .chezmoi.os "darwin") (ne .chezmoi.os "android") }}
# Version managers (Linux only - macOS uses Homebrew, Android uses system packages)

# Python environment manager
[".pyenv"]
    type = "git-repo"
    url = "https://github.com/pyenv/pyenv.git"
    refreshPeriod = "168h"

[".pyenv/plugins/pyenv-virtualenv"]
    type = "git-repo"
    url = "https://github.com/pyenv/pyenv-virtualenv.git"
    refreshPeriod = "168h"

# Node.js version manager
[".nvm"]
    type = "git-repo"
    url = "https://github.com/nvm-sh/nvm.git"
    refreshPeriod = "168h"

{{- end }}

{{- if ne .chezmoi.os "darwin" }}
# gitmux - Git status for tmux/byobu (Linux/Android/other OS)
# Note: Android uses Linux arm64 binary as gitmux doesn't provide android-specific builds
[".local/bin/gitmux"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "arl/gitmux" (printf "gitmux_*_%s_%s.tar.gz" (eq .chezmoi.os "android" | ternary "linux" .chezmoi.os) (.chezmoi.arch | replace "x86_64" "amd64" | replace "aarch64" "arm64")) | quote }}
    executable = true
    path = "gitmux"
    refreshPeriod = "168h"
{{- end }}

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
# Development repositories for reference and contribution
["Sources/github-markdown-css"]
    type = "git-repo"
    url = "https://github.com/sindresorhus/github-markdown-css.git"
    refreshPeriod = "168h"

["Sources/Gogh"]
    type = "git-repo"
    url = "https://github.com/Mayccoll/Gogh.git"
    refreshPeriod = "168h"

["Sources/gitignore"]
    type = "git-repo"
    url = "https://github.com/github/gitignore.git"
    refreshPeriod = "168h"

{{- end }}