Include *.conf
Include config.d/*.conf

# Host example
# HostName example.com
# User example_user
# Port 22
# IdentityFile ~/.ssh/id_rsa

Host *
Port 22
{{- if .ssh_identity_file }}
IdentityFile {{ .ssh_identity_file }}
{{- else }}
IdentityFile ~/.ssh/id_ed25519
{{- end }}
Compression yes
ForwardX11 yes
IdentitiesOnly yes
ServerAliveInterval 60
## SetEnv TERM=xterm-256color

Include config.local