snippet wine_desktop "" b
[Desktop Entry]
Name=$0
Exec=env WINEPREFIX="/home/gen/.wine" LC_ALL="ja_JP.UTF-8" wine "/home/gen/.wine/drive_c/$1"
Type=Application
StartupNotify=true
Icon=72BD_saclet.0
StartupWMClass=$2
Comment=game,$3
endsnippet
